<section>
    <header class="clearfix row">
        <h1 class="pull-left col-sm-6">Clients</h1>
        <br>
        <form name="clientsForm" class="pull-right col-sm-4" ng-submit="addNewClient()" novalidate>
            <button type="button" class="btn btn-success pull-right"
                ng-click="toggleNewFormDisplay()"
                ng-show="!isFormNewDisplayed">Got a New Client?</button>

            <div class="input-group pull-right" ng-show="isFormNewDisplayed">
                <input id="new-client-name" type="text" class="form-control" ng-model="newClient.name" placeholder="Client name" ui-validate=" '$value.trim().length >= 3' ">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-disabled="isFormNewLoading" ng-click="toggleNewFormDisplay()">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="isFormNewLoading || clientsForm.$invalid">Add</button>
                </div>
            </div>
        </form>
            <p class="b-loading pull-right col-sm-2" ng-show="isFormNewLoading"></p>

    </header>

    <hr>
    <br>

    <section>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-uppercase">Client name</th>
                    <th width="160" class="text-uppercase text-center">Nr. Projects</th>
                    <th width="90" class="text-uppercase text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="client in clientsList | orderBy:'name'">
                    <td ng-dblclick="openEditDialog(client.id)">
                        <strong>{{client.name}}</strong>
                        <p ng-show="client.description.length">{{client.description}}</p>
                    </td>
                    <td class="text-center">{{client.nrProjects}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" ng-click="openEditDialog(client.id)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="deleteClient(client.id)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="alert alert-warning text-center" ng-show="!isLoading && !clientsList.length">The are no Clients to display</p>
        <p class="b-loading center-block" ng-show="isLoading"></p>

    </section>
</section>
