<section>
    <header class="clearfix row">
        <h1 class="pull-left col-sm-6">My Clients</h1>
        <br>
        <form name="clientsForm" class="pull-right col-sm-4" ng-submit="addNewClient()" novalidate>
            <button type="button" class="btn btn-success pull-right"
                ng-click="toggleNewFormDisplay()"
                ng-show="!isFormNewDisplayed"><span class="hidden-xs">Got a </span>New Client?</button>

            <div class="input-group pull-right" ng-show="isFormNewDisplayed">
                <input id="new-client-name" type="text" class="form-control" ng-model="newClient.name" placeholder="Client name" ui-validate=" '$value.trim().length >= 3' ">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-disabled="isFormNewLoading" ng-click="toggleNewFormDisplay()">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="isFormNewLoading || clientsForm.$invalid">Add</button>
                </div>
            </div>
        </form>

    </header>

    <hr>
    <br>

    <section>
        <table class="table table-hover table-tpm">
            <thead>
                <tr>
                    <th colspan="3">
                        <div ng-class="{ 'input-group': searchClient.length }" style="max-width: 22em;">
                            <input type="text" autocomplete="off"
                                ng-model      = "searchClient"
                                placeholder   = "Search ..."
                                uib-typeahead = "client.name for client in clientsList | filter: { name: $viewValue } | limitTo:8"
                            class="form-control">

                            <span ng-show="searchClient.length" class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="clearSearch()">
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    ng-repeat="client in clientsList | orderBy:'name' | filter: { name: searchClient }"
                    ng-hide="!$index && !client.nrProjects" 
                >
                    <td
                        class="cell-border"
                        ng-class="{ 'cell-border--warning': $index == 0 }" 
                        ng-dblclick="openEditDialog(client.id)"
                    >
                        <strong>{{client.name.length ? client.name : 'No Client'}}</strong>
                        <div class="hidden-xs" ng-show="client.description.length">{{client.description}}</div>

                        <b class="cell-border__text" ng-if="$index == 0">
                            No Client
                        </b>
                    </td>

                    <td width="120" ng-show="!showActions" class="text-center">
                        <a href="" ng-click="showProjects(client.id)">{{client.nrProjects}} projects</a>
                    </td>

                    <td width="120" class="text-right" colspan="{{ isEnabledToggleActions && showActions ? 2 : 1 }}">
                        <div class="btn-group" ng-if="client.id" ng-show="!isEnabledToggleActions || showActions">
                            <button type="button" class="btn btn-default" ng-click="openEditDialog(client.id)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-default"
                                click-confirm="deleteClient(client.id)"
                                click-confirm-message="Really delete the client?"
                            >
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-show="isEnabledToggleActions"  ng-click="showActions = false">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>
                        <div class="btn-group" ng-show="isEnabledToggleActions && !showActions">
                            <button type="button" class="btn btn-default" ng-click="showActions = true">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="alert alert-warning text-center" ng-show="!isLoading && !(clientsList | filter: { name: searchClient }).length">
            The are no Clients to display
        </p>

    </section>
</section>
