<div class="row">
    <form method="post" class="b-login col-sm-6 col-sm-offset-3" ng-submit="login()">

        <div class="b-login__logo">
            TPM
        </div>

        <div class="b-login__form">
            <div class="form-group">
                <!-- <label>Email address:</label> -->
                <input type="text" placeholder="Email address" class="form-control" ng-model="credentials.username">
            </div>

            <div class="form-group">
                <!-- <label>Password:</label> -->
                <input type="password" placeholder="Password" class="form-control" ng-model="credentials.password">
            </div>

            <div class="form-group clearfix">
                <a href="#" class="btn btn-link pull-left"
                    popover-placement="right"
                    popover-trigger="mouseenter"
                    popover="Password recovery is currently unavailable"
                >Forgot Password?</a>
                <!-- <div class="checkbox pull-left">
                    <label>
                        <input type="checkbox"> Remember Me
                    </label>
                </div> -->

                <button type="submit" class="btn btn-primary pull-right col-md-5">Login</button>

            </div>

            <div class="alert alert-danger fade in" ng-show="errorMessage.length">
                <strong>Ohh shoot!</strong><br>
                {{errorMessage}}
            </div>

            <hr>

            <div class="clearfix">
                <span class="btn disabled">New member?</span>
                <a href="" type="submit"
                    class="btn btn-default pull-right col-md-5"
                    popover-placement="left"
                    popover-trigger="mouseenter"
                    popover="Creating new accounts is currently unavailable"
                >Create Account</a>
            </div>
        </div>
    </form>

</div>
