<div class="text-center">
    <a href="./" class="login__logo">
        <img src="images/tpm-logo.svg" alt="tPM">
    </a>
</div>

<div class="row">

    <form method="post" class="col-xs-12 col-sm-4 col-sm-offset-4" ng-submit="login()">

        <div class="form-group">
            <!-- <label>Email address:</label> -->
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" placeholder="Email address" class="form-control" ng-model="credentials.username">
            </div>
        </div>

        <div class="form-group">
            <!-- <label>Password:</label> -->
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input type="password" placeholder="Password" class="form-control" ng-model="credentials.password">
            </div>
        </div>

        <div class="alert alert-danger fade in" ng-show="errorMessage.length">
            <strong>Ohh shoot!</strong><br>
            {{errorMessage}}
        </div>

        <div class="form-group clearfix">
            <button type="submit" class="btn btn-primary col-xs-12" ng-disabled="isLoading">Login</button>
        </div>

        <hr class="hidden-xs">

        <div class="form-group text-center hidden-xs">
            <a href="#"
                popover-placement="top"
                popover-trigger="mouseenter"
                popover="Password recovery will be available in future releases"
            >Recover password</a>
        </div>

        <div class="clearfix hidden-xs">
            <a href="#" class="btn btn-default col-xs-8 col-xs-offset-2"
                popover-placement="top"
                popover-trigger="mouseenter"
                popover="Creating new accounts is currently unavailable"
            >Create Account</a>
        </div>

    </form>

</div>
