<section>

    <header class="clearfix">
        <h1 class="pull-left">{{formAction}} Project</h1>
        <br><a href="#projects" class="btn btn-default pull-right">Back to listing</a>
    </header>

    <hr>
    <br>

    <form name="projectsForm" ng-submit="submitForm()" novalidate>

        <div class="row">
            <div class="col-sm-6 col-md-8">
                <label class="control-label" for="projectName">Name your project:</label>
                <div class="form-group">
                    <input type="text" id="projectName"
                        set-focus
                        ng-model="project.name"
                        ui-validate=" '$value.trim().length >= 3' "
                    class="form-control input-lg" placeholder="Project Name">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <label class="control-label" for="clientName">Set a client:</label>
                <div ng-class="{ 'input-group': project.clientName.length }">
                    <input type="text" id="clientName" autocomplete="off"
                        ng-model      = "project.clientName"
                        placeholder   = "No Client"
                        uib-typeahead = "client.name for client in clientsList | filter:$viewValue | limitTo:8"
                    class="form-control input-lg">

                    <span ng-show="project.clientName.length" class="input-group-btn">
                        <button class="btn btn-lg btn-default" type="button" ng-click="clearClient()">
                            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>

            </div>
        </div>

        <br>

        <div class="form-group row">

            <div class="clearfix visible-xs-block form-group"></div>

            <div class="col-xs-6 col-sm-4 col-md-2">
                <label class="control-label" for="projectPriceEstimated">Estimated price:</label>
                <div class="input-group">
                    <input id="projectPriceEstimated" class="form-control" ng-model="project.priceEstimated" type="number">
                    <div class="input-group-addon">{{ currency }}</div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
                <label class="control-label" for="projectPriceFinal">Final price:</label>
                <div class="input-group">
                    <input id="projectPriceFinal" class="form-control" ng-model="project.priceFinal" type="number">
                    <div class="input-group-addon">{{ currency }}</div>
                </div>
            </div>

            <div class="clearfix visible-xs-block form-group"></div>

            <div class="col-sm-4 col-md-2">
                <label class="control-label" for="projectStatus">Status:</label>
                <select id="projectStatus" ng-model="project.status" ng-options="status for status in statusList" class="form-control"></select>
            </div>

            <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-4" ng-show="!hasDeadline">
                <label class="control-label">&nbsp;</label>
                <button type="button" class="btn btn-block btn-default" ng-click="toggleDeadline()">
                    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                    Set deadline
                </button>
            </div>

            <div class="clearfix visible-xs-block visible-sm-block form-group"></div>
            
            <div class="col-xs-8 col-md-4" ng-show="hasDeadline">
                <label class="control-label" for="projectPriceFinal">Deadline:</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="toggleDeadline()"><i class="glyphicon glyphicon-remove"></i></button>
                    </span>
                    <input type="text" class="form-control"
                        ng-model             = "selectedDateEstimated"
                        uib-datepicker-popup = "{{dateSettings.dateFormat}}"
                        datepicker-options   = "dateSettings.dateOptions"
                        date-disabled        = "disabled(date, mode)"
                        is-open              = "isDatePickerOpened"
                        close-text           = "Close"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>

            <div class="col-xs-4 col-md-2" ng-show="hasDeadline">
                <label class="control-label" for="projectDays">Est<span class="hidden-xs">imated</span> days:</label>
                <input id="projectDays" class="form-control" ng-model="project.days" type="number" placeholder="Days">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label class="control-label" for="projectDescription">Project description:</label>
            <textarea id="projectDescription" ng-model="project.description" class="form-control" rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="isLoading || (!project.id && projectsForm.$invalid)">
            {{formSubmit}}
        </button>
        <a href="#projects" class="btn btn-default">Cancel</a>
    </form>

</section>
