<section>

    <header class="clearfix row">
        <h1 class="pull-left col-sm-8">Income per month</h1>
    </header>

    <hr>
    <br>

    <div ng-hide="isLoading">

        <canvas height="70" id="line" class="chart chart-line" chart-data="chart.data" chart-labels="chart.labels"  chart-series="chart.series" 
    chart-legend="true"></canvas>

        <section>
            <table class="table table-hover table-tpm">
                <thead>
                    <tr>
                        <th class="text-uppercase">Month</th>
                        <th width="160" class="text-uppercase">Projects</th>
                        <th width="160" class="text-uppercase">Income</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="month in projects">
                        <td>
                            <strong>{{month.month}}</strong>
                        </td>
                        <td>
                            <a href="" ng-click="showProjects('Projects from ' + month.month, month.projects)">{{month.projects.length}} projects</a>
                        </td>
                        <td>
                            {{month.price}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="alert alert-warning text-center" ng-show="!isLoading && !projects.length">
                The are no Reports to display
            </p>
        </section>

        <p class="text-danger"><b>NOTE:</b> projects are always included on the month in which they were <b>Paid</b>.</p>
        <h4 ng-if="notPaid > 0"><span class="label label-danger">Projects "finished", but not "paid": {{ notPaid }}</span></h4>

        <br><br>

        <section>
            <h1>Most income per client</h1>
            <br>
            <table class="table table-hover table-tpm">
                <thead>
                    <tr>
                        <th class="text-uppercase">Client</th>
                        <th width="160" class="text-uppercase">Projects</th>
                        <th width="160" class="text-uppercase">Income</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in clientsByPrice | limitTo: 10">
                        <td>
                            <strong>{{client.name}}</strong>
                        </td>
                        <td>
                            <a href="" ng-click="showProjects('Projects from ' + client.name, client.projects)">{{client.projects.length}} projects</a>
                        </td>
                        <td>
                            {{client.price}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="alert alert-warning text-center" ng-show="!isLoading && !clientsByPrice.length">
                The are no Reports to display
            </p>
        </section>

        <br><br>

        <section>
            <h1>Most projects per client</h1>
            <br>
            <table class="table table-hover table-tpm">
                <thead>
                    <tr>
                        <th class="text-uppercase">Client</th>
                        <th width="160" class="text-uppercase">Projects</th>
                        <th width="160" class="text-uppercase">Income</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in clientsByProjects | limitTo: 10">
                        <td>
                            <strong>{{client.name}}</strong>
                        </td>
                        <td>
                            <a href="" ng-click="showProjects('Projects from ' + client.name, client.projects)">{{client.projects.length}} projects</a>
                        </td>
                        <td>
                            {{client.price}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="alert alert-warning text-center" ng-show="!isLoading && !clientsByProjects.length">
                The are no Reports to display
            </p>
        </section>

        <br><br>

        <section>
            <h1>Price changed during project</h1>
            <hr>
            <p><b>NOTE:</b> Projects that have either the <b>Estimated</b> or <b>Final</b> price not set (or set to "0") are considered <b>"Not Changed"</b>.</p>
            <br>
            <canvas id="doughnut" class="chart chart-doughnut" height="80"
                chart-data="chartPrice.data" chart-labels="chartPrice.labels" chart-click="showProjectsByPriceChange">
            </canvas>
        </section>
    </div>

</section>
