<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">

    <table class="table">
        <thead>
            <tr>
                <th width="20"></th>
                <th class="text-uppercase">Project</th>
                <th class="text-uppercase">Client</th>
                <th width="160" class="text-uppercase text-right" ng-if="!detailedPrice">Price</th>
                <th width="160" class="text-uppercase text-right" ng-if="detailedPrice">Final - Est.</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in data">
                <td>{{$index + 1}}.</td>
                <td><b>{{project.name}}</b></td>
                <td>{{project.clientName || 'Personal project'}}</td>

                <td class="text-right" ng-if="!detailedPrice">
                    <b>{{ project.priceFinal ? project.priceFinal : project.priceEstimated }}</b>
                    {{ currency }}
                </td>
                <td class="text-right b-one-line" ng-if="detailedPrice">
                    {{ project.priceFinal }} - {{ project.priceEstimated }} =
                    <b class="text-danger">{{ project.priceFinal - project.priceEstimated }}</b>
                    {{ currency }}
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div class="modal-footer text-left">
    <button class="btn btn-primary" ng-click="$dismiss()">Close</button>
</div>
