<section>
  <header class="clearfix row">
    <h1 class="pull-left col-sm-8">Reports</h1>
  </header>

  <hr />
  <br />

  <div ng-hide="isLoading">
    <uib-tabset>
      <uib-tab heading="Income per month">
        <section>
          <br /><br />
          <h2>Income per month</h2>
          <br />

          <div ng-if="report.length">
            <canvas
              height="70"
              id="line"
              class="chart chart-line"
              ng-show="chartIncomeByMonth.series.length > 0"
              chart-data="chartIncomeByMonth.data"
              chart-labels="chartIncomeByMonth.labels"
              chart-series="chartIncomeByMonth.series"
              chart-legend="true"
            >
            </canvas>

            <br />

            <table class="table table-hover table-tpm table-no-header">
              <tbody>
                <tr ng-repeat="month in displayedReport">
                  <td>
                    <strong>{{ month.displayMonth }}</strong>
                  </td>
                  <td class="text-right" width="100">
                    <a href="" ng-click="showProjectsByMonth(month.month)"
                      >{{ month.count }} projects</a
                    >
                  </td>
                  <td class="text-right" width="120">
                    <b>{{ month.total }}</b> {{ currency }}
                  </td>
                </tr>
              </tbody>
            </table>

            <div
              class="text-center text-muted"
              ng-if="(displayedReport.length < report.length)"
            >
              Displaying only the last 3 years <br /><br />

              <button class="btn btn-primary" ng-click="displayAllYears()">
                Display all years
              </button>
            </div>

            <br />
            <br />

            <div class="row">
              <div class="col-sm-6">
                <div class="panel panel-warning">
                  <div class="panel-heading"><b>NOTE:</b></div>
                  <div class="panel-body">
                    Projects are always included on the month in which they were
                    <b>Paid</b>.
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="panel panel-warning" ng-if="notPaid.nr > 0">
                  <div class="panel-heading"><b>PROJECTS NOT PAID:</b></div>
                  <div class="panel-body">
                    There are
                    <a href="" ng-click="gotoFinishedProjects()"
                      >{{ notPaid.nr }} Projects</a
                    >
                    "finished", but not "paid", in total of
                    <b>{{ notPaid.value }} {{ currency }}</b>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p
            class="alert alert-warning text-center"
            ng-show="!isLoading && !report.length"
          >
            Currently, there are no Reports to display. You need to have "Paid"
            projects in order to display Reports.
          </p>
        </section>
      </uib-tab>

      <uib-tab heading="Income per year">
        <section>
          <br /><br />
          <h2>Income per year</h2>
          <br />

          <div ng-if="report.length">
            <canvas
              height="70"
              id="line"
              class="chart chart-line"
              ng-show="chartIncomeByYear.series.length > 0"
              chart-data="chartIncomeByYear.data"
              chart-labels="chartIncomeByYear.labels"
              chart-series="chartIncomeByYear.series"
            >
            </canvas>
          </div>
        </section>
      </uib-tab>

      <uib-tab heading="Most income per client">
        <section>
          <br /><br />
          <h2>Most income per client</h2>
          <br />
          <table
            class="table table-hover table-tpm table-no-header"
            ng-show="!isLoading && clientsByTotal.length"
          >
            <tbody>
              <tr ng-repeat="client in clientsByTotal">
                <td class="text-right" width="20">{{ $index + 1 }}.</td>
                <td>
                  <strong>{{ client.name }}</strong>
                </td>
                <td class="text-right" width="100">
                  <a href="" ng-click="showProjectsByClient(client)"
                    >{{ client.count }} projects</a
                  >
                </td>
                <td class="text-right" width="100">
                  <b>{{ client.total }}</b> {{ currency }}
                </td>
              </tr>
            </tbody>
          </table>

          <p
            class="alert alert-warning text-center"
            ng-show="!isLoading && !clientsByTotal.length"
          >
            Currently, there are no Reports to display. You need to have "Paid"
            projects in order to display Reports.
          </p>
        </section>
      </uib-tab>

      <uib-tab heading="Most projects per client">
        <section>
          <br /><br />
          <h2>Most projects per client</h2>
          <br />
          <table
            class="table table-hover table-tpm table-no-header"
            ng-show="!isLoading && clientsByCount.length"
          >
            <tbody>
              <tr ng-repeat="client in clientsByCount">
                <td class="text-right" width="20">{{ $index + 1 }}.</td>
                <td>
                  <strong>{{ client.name }}</strong>
                </td>
                <td class="text-right" width="100">
                  <a href="" ng-click="showProjectsByClient(client)"
                    >{{ client.count }} projects</a
                  >
                </td>
                <td class="text-right" width="100">
                  <b>{{ client.total }}</b> {{ currency }}
                </td>
              </tr>
            </tbody>
          </table>

          <p
            class="alert alert-warning text-center"
            ng-show="!isLoading && !clientsByCount.length"
          >
            Currently, there are no Reports to display. You need to have "Paid"
            projects in order to display Reports.
          </p>
        </section>
      </uib-tab>
    </uib-tabset>
  </div>
</section>
