<section>

    <header class="clearfix row">
        <h1 class="pull-left col-sm-8">Settings</h1>
    </header>

    <hr>
    <br>

    <a href="/auth/google" class="btn btn-primary"
        ng-hide="settings.googleToken"
        ng-click="getGoogleAccess()"
        ng-disabled="isLoadingGoogle">
        Syncronize with Google Calendar
    </a>

    <button type="button" class="btn btn-default"
        ng-show="settings.googleToken"
        ng-click="revokeGoogleAccess()"
        ng-disabled="isLoadingGoogle">
        Revoke Google Calendar access
    </button>

</section>
