<section>

    <header class="clearfix row">
        <h1 class="pull-left col-sm-8">Settings</h1>
    </header>

    <hr>
    <br>

    <div ng-hide="isLoading">
        <div class="form-group">
            <div class="col-sm-6 input-group" ng-show="settings.googleToken && settings.calendars">
                <select class="form-control" placeholder="Select a calendar"
                    ng-model="selectedCalendar"
                    ng-options="calendar.summary for calendar in settings.calendars.items">
                    <option value="">Select calendar</option>
                </select>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-success"
                        ng-click="setCalendar()"
                        ng-disabled="isLoadingGoogle">
                        Select Calendar
                    </button>
                </div>
            </div>
            <p ng-bind="settings.selectedCalendar.description"></p>
        </div>

        <div class="form-group">
            <a href="/auth/google" class="btn btn-primary"
                ng-hide="settings.googleToken"
                ng-click="getGoogleAccess()"
                ng-disabled="isLoadingGoogle">
                Syncronize with Google Calendar
            </a>

            <button type="button" class="btn btn-warning"
                ng-show="settings.googleToken"
                ng-click="revokeGoogleAccess()"
                ng-disabled="isLoadingGoogle">
                Revoke Google Calendar access
            </button>
        </div>
    </div>

    <p class="b-loading center-block" ng-show="isLoading"></p>

</section>
