body {
  padding-top: 90px;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
.ng-cloak {
  display: none !important;
}

.app-footer {
  margin: 5em 0 1em 0;
}

/* page headers */
h1,
.h1 {
  font-size: 28px;
  line-height: 36px;
}
@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 36px;
  }
}

.login__logo {
  margin: 0 auto 2em auto;
  display: inline-block;
}
.login__logo:hover {
  opacity: 0.5;
}
.login__logo img {
  height: 2em;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.nl2br {
  white-space: pre;
}

.b-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-auth .fdb {
  top: 45px;
}
