body {
	padding-top: 90px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], .ng-cloak {
	display: none !important;
}

.app-footer {
	margin: 5em 0 1em 0;
}
	.app-footer {
		margin: 5em 0 1em 0;
	}

.navbar-default,
.navbar-default .navbar-collapse {
	background-color: #f5f5f5;
	border-color: #dddddd;
}
.navbar-collapse {
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
}

@media (max-width: 768px) {
	.navbar-collapse .navbar-nav {
		margin: 0;
	}
		.navbar-collapse .navbar-nav li {
			float: left;
		}
		.navbar-left {
			float: left;
		}
		.navbar-right {
			float: right;
		}
	.navbar-nav > li:first-child {
		margin-left: -15px;
	}
	.navbar-nav > li > a {
		margin-right: 20px;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
	}
}
@media (min-width: 768px) {
	.navbar-fixed-top .navbar-right:last-child {
		padding-right: 8px;
		margin-right: 0;
	}
}


/* page headers */
h1,
.h1 {
	font-size: 28px;
	line-height: 36px;
}
@media (min-width: 768px) {
	h1,
	.h1 {
		font-size: 36px;
	}
}



.login__logo {
	margin: 0 auto 2em auto;
	display: inline-block;
}
	.login__logo img {
		height: 2em;
	}

.table > tbody > tr > td {
	vertical-align: middle;
}

.nl2br {
	white-space: pre;
}

.form-control.ng-invalid.ng-dirty:not(:focus) {
	border-color:#e9322d;
	-webkit-box-shadow:0 0 6px #f8b9b7;
	-moz-box-shadow:0 0 6px #f8b9b7;
	box-shadow:0 0 6px #f8b9b7;
}
/*.form-control.ng-invalid.ng-dirty:focus {
}*/

/* loading spinner */
.b-loading {
	/*font-size: 14px;*/
	position: relative;
	text-indent: -9999em;
	border-top: 5px solid rgba(255, 255, 255, 0.2);
	border-right: 5px solid rgba(255, 255, 255, 0.2);
	border-bottom: 5px solid rgba(255, 255, 255, 0.2);
	border-left: 5px solid #5bc0de;
	-webkit-animation: spinAnimation 0.6s infinite linear;
	animation: spinAnimation 0.6s infinite linear;
}
.b-loading,
.b-loading:after {
	border-radius: 50%;
	width: 32px;
	height: 32px;
}
@-webkit-keyframes spinAnimation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinAnimation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.b-one-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.is-auth .fdb {
	top: 45px;
}

.table-tpm {
	border-bottom: 2px solid #f5f5f5;
}
	.table.table-tpm td,
	.table.table-tpm th {
		border-color: #f5f5f5;
	}
	.cell-border {
		border-left: 5px #f5f5f5 solid;
	}
	.cell-border--warning {
		border-color: #EFD44D;
	}
	.cell-border--danger {
		border-color: #EC5454;
	}

.btn-group {
	font-size: 0;
}
.btn-group .btn {
	display: inline-block;
	float: none;
}

.ng-animate-fadein.ng-enter {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.ng-animate-fadein.ng-enter-active {
	opacity: 1;
}
.ng-animate-fadein.ng-leave {
}
.ng-animate-fadein.ng-leave-active {
	opacity: 0;
}

@-webkit-keyframes slideIn {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-1em,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
	}
}
@keyframes slideIn {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-1em,0);
		transform: translate3d(0,-1em,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}
