doctype html
html(class='no-js', lang='en')

    head
        meta(charset='utf-8')

        title= name + ' | ' + description

        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content=description)

        link(rel='stylesheet', href='public/bower_components/normalize-css/normalize.css')
        link(rel='stylesheet', href='public/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='public/bower_components/angular-feedback/dist/feedback.min.css')
        link(rel='stylesheet', href='public/bower_components/angular-chart.js/dist/angular-chart.css')

        link(rel='stylesheet', href='public/css/style.css')
        link(rel='stylesheet', href='public/css/bootstrap-overrides.css')
        link(rel='stylesheet', href='public/css/animations.css')

    body(ng-class='{ "is-auth": isAuth }' data-main-app="" ng-cloak)
        .container

            //- logo displayed for non-auth pages, to get back to login
            div.text-center(ng-if='!isAuth')
                a.login__logo(href='#login')
                    img(src='public/images/tpm-logo.svg', alt='tPM', height='28')

            //- logged in navbar
            nav.navbar.navbar-default.navbar-fixed-top.ng-cloak(ng-if='isAuth', role='navigation')
                //- Brand and toggle get grouped for better mobile display
                .navbar-header
                    button#navbar-toggle.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar

                    a.navbar-brand(href='#dashboard')
                        img(src='public/images/tpm-logo.svg', alt='tPM', height='100%')


                //- Collect the nav links, forms, and other content for toggling
                #navbar.collapse.navbar-collapse.clearfix(ng-if='isAuth', ng-controller='MenuController')
                    ul.nav.navbar-nav.navbar-left
                        li(ng-class='{ active: isActive("projects")}')
                            a.btn.btn-link(href='#projects', ng-click='collapseMenu("projects")') Projects
                        li(ng-class='{ active: isActive("clients")}')
                            a.btn.btn-link(href='#clients', ng-click='collapseMenu("clients")') Clients
                        li(ng-class='{ active: isActive("reports")}')
                            a.btn.btn-link(href='#reports', ng-click='collapseMenu("reports")') Reports

                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a.my-account.dropdown-toggle(href="", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | My Account
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='#settings', ng-click='collapseMenu("settings")') Settings
                                li.disabled
                                    a(href='') Profile
                                li.divider(role='separator')
                                li
                                    a(href='#logout') Logout

            //- all content goes here
            div.animate-slideFade(ng-view='ng-view')

            footer.app-footer.text-center
                hr
                div.hidden-xs
                    | Developed by&nbsp;
                    a(href='https://github.com/andreipfeiffer', popover-placement='top', popover-trigger='mouseenter', uib-popover='Visit Github page') Andrei Pfeiffer
                    br
                a(href='https://github.com/andreipfeiffer/tpm/releases')
                    samp
                        small.text-muted= 'v' + version
                | &nbsp;&nbsp;|&nbsp;&nbsp;
                a(href='#status')
                    samp
                        small.text-muted= 'app status'


    script(src='node_modules/systemjs/dist/system.js')
    script(src='public/system.config.js')
    script.
        System.import('public/js/bootstrap.js');
