<section>
    <header class="clearfix row">
        <h1 class="pull-left col-sm-6">Clients</h1>
        <br>
        <form class="pull-right col-sm-4" ng-submit="addNewClient()">
            <button type="button" class="btn btn-success pull-right"
                ng-click="toggleNewFormDisplay()"
                ng-show="!isFormNewDisplayed">Got a New Client?</button>

            <div class="input-group pull-right" ng-show="isFormNewDisplayed">
                <input id="new-client-name" type="text" class="form-control" ng-model="newClient.name" placeholder="Client name" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-disable="isFormNewLoading" ng-click="toggleNewFormDisplay()">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-disable="isFormNewLoading">Add Client</button>
                </div>
            </div>
        </form>
    </header>

    <hr>
    <br>

    <section>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-uppercase">Client name</th>
                    <th width="160" class="text-uppercase text-center">Nr. Projects</th>
                    <th width="120" class="text-uppercase text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="client in clientsList | orderBy:'name'">
                    <td>{{client.name}}</td>
                    <td class="text-center">{{client.nrProjects}}</td>
                    <td>
                        <div class="btn-group">
                            <a href="#clients/{{client.id}}" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-list-alt"></span>
                            </a>
                            <a href="#clients/{{client.id}}/edit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <button type="button" class="btn btn-default btn-sm" ng-click="deleteClient(client.id)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>
</section>
