<section>

    <header class="clearfix">
        <h1 class="pull-left">Projects list</h1>
        <br><a href="#projects/new" class="btn btn-success pull-right">Got a New project?</a>
    </header>

    <hr>
    <br>

    <section>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="50%" class="text-uppercase">Project name</th>
                    <th class="text-uppercase">Client</th>
                    <th class="text-uppercase">Status</th>
                    <th width="120" class="text-uppercase text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projectsList | orderBy:'-projectName'">
                    <td>
                        <b>{{project.name}}</b>
                    </td>
                    <td>{{project.clientName}}</td>
                    <td class="text-capitalize">{{project.status}}</td>
                    <td>
                        <div class="btn-group">
                            <a href="#projects/{{project.id}}" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-list-alt"></span>
                            </a>
                            <a href="#projects/{{project.id}}/edit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <button type="button" class="btn btn-default btn-sm" ng-click="deleteProject($index)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>

    <footer>
        <span>
            <strong>{{5 + 6}}</strong> projects left
        </span>
        <ul>
            <li>
                <a href="all" class="selected">All</a>
            </li>
            <li>
                <a href="active">Active</a>
            </li>
            <li>
                <a href="completed">Completed</a>
            </li>
        </ul>

        <button>
            Clear completed (0)
        </button>
    </footer>
</section>
