<section>

    <header class="clearfix">
        <h1 class="pull-left">{{formAction}} Project</h1>
        <br><a href="#projects" class="btn btn-default pull-right">Back to listing</a>
    </header>

    <hr>
    <br>

    <form name="projectsForm" ng-submit="submitForm()">

        <div class="form-group row">
            <div class="col-sm-8">
                <input type="text" ng-model="project.name" class="form-control input-lg" placeholder="Project name" required>
            </div>
            <div class="col-sm-4">
                <select ng-model="project.idClient" ng-options="client.id as client.name for client in clientsList" class="form-control input-lg">
                    <option value="">No client, Personal project</option>
                </select>
            </div>
        </div>

        <br>

        <div class="form-group row">

            <div class="col-sm-3">
                <label class="control-label" for="projectPriceFinal">Deadline:</label>
                <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{dateSettings.dateFormat}}" ng-model="selectedDateEstimated" is-open="isDatePickerOpened" datepicker-options="dateSettings.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>

            <div class="col-sm-2">
                <label class="control-label" for="projectPriceEstimated">Estimated price:</label>
                <div class="input-group">
                    <input id="projectPriceEstimated" class="form-control" ng-model="project.price" type="number" placeholder="price">
                    <div class="input-group-addon">RON</div>
                </div>
            </div>

            <div class="col-sm-2">
                <label class="control-label" for="projectPriceFinal">Final price:</label>
                <div class="input-group">
                    <input id="projectPriceFinal" class="form-control" ng-model="project.price" type="number" placeholder="price">
                    <div class="input-group-addon">RON</div>
                </div>
            </div>

            <div class="col-sm-3">
                <label class="control-label" for="projectStatus">Status:</label>
                <select id="projectStatus" ng-model="project.status" ng-options="status for status in statusList" class="form-control"></select>
            </div>

        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="isLoading">{{formAction}} project</button>
    </form>

</section>
