<section>

    <header>
        <h1>{{formAction}} Project</h1>
        <a href="#projects">Back</a>
    </header>

    <span>id: {{project.id}}</span>
    <form ng-submit="submitForm()">
        <input type="checkbox" ng-model="project.isCompleted" ng-true-value="true" ng-false-value="false">
        <input type="text" ng-model="project.name">
        <select ng-model="project.idClient" ng-options="client.id as client.name for client in clientsList">
            <option value="">No Client</option>
        </select>

        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{date.dateFormat}}" ng-model="project.date" is-open="isDatePickerOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="date.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>

        <button type="submit">{{formAction}}</button>
    </form>

</section>
